@import "tailwindcss";

@theme {
  --font-*: initial;
  --font-display: "Inter Variable", "sans-serif";
}

@layer base {
  :root {
    font-size: clamp(16px, 1vw, 999px);
  }

  h2 {
    font-size: clamp(1.25rem, 1.25rem + 1vw, 1.5rem);
  }
}

@layer components {
  .text-prominent {
    font-size: clamp(1rem, 1rem + 1vw, 1.1875rem);
    line-height: 1.375;
  }
}
